DB_HOST=localhost
DB_PORT=5432 #using postgres
DB_NAME=to-do-app
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=""
FRONTEND_URL=http://localhost:3000